@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('/product.png');">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://www.kreditplus.com/">Kredit Plus</a>.</p>
    </div>

    <div class="text-center">
        <img src="~/Logo-Kreditplus.jpg" />
    </div>
</div>

